.header{
    height: 80px;
    background-color: #30095d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    /* position: sticky;
    top: 0;
    z-index: 99; */
}
.header img{
    width: 200px;
    height:200px;
}
.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left:36px;
}
.header a:hover{
    color: orange;
}